<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >

<head>
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



    <title>Log in</title>
</head>

<body style="background-image: url('../static/images/nature.jpg'); min-height: 100%; min-width: 100%;">


</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<div class="container-fluid" >






    <form method="post" th:action="@{/poriect}" th:object="${userprofile}" >
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" placeholder="Username"  required>
            </div>
            <div class="col-md-3">
                <input type="password" class="form-control" placeholder="Password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <button class="btn btn-danger" type="submit">Log in</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-primary " type="submit" th:href="@{/proiect/sign-up}">Sign Up</button>
            </div>
        </div>
    </form>




</div> <!-- /container -->

</body>

</html>
